@use '../helpers/variables' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .logo-container {
      display: flex;
      align-items: center;

      .logo {
          text-decoration: none;
          font-weight: bold;
          margin-right: 5px;
          font-size: $logo-font-size;
          color: $black;
      }

      .logo-image {
          width: 30px; 
          height: 30px; 
      }
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
          position: relative;
          margin-left: 20px;

          a {
              color: $black;
              text-decoration: none;
              font-size: $a-links-font-size;
              padding: 8px 12px;

              &:hover {
                  background-color: $coral;
                  border-radius: 4px;
              }

              &.dropdown {
                  display: inline-flex;
                  align-items: center;
              }
          }

          .dropdown-menu {
              display: none; 
              position: absolute;
              top: 100%; 
              left: 0;
              background-color: $beige;
              border: 1px solid $black;
              border-radius: 4px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
              padding: 10px;
              z-index: 1000;
              width: 200px; 
              max-height: 300px;
              overflow-y: auto;

              li {
                  padding: 8px 12px;
                  list-style-type: none;
                  cursor: pointer;

                  &:hover {
                      background-color: darken($coral, 10%);
                      color: $light;
                  }
              }
          }

          &.dropdown:hover .dropdown-menu {
              display: block; 
          }
      }
  }
}