//*VARIABLES


//*FONTS
$raleway: "Raleway", sans-serif;


//*PALETTE
$light: #F8EDE3;
$beige: #DFD3C3;
$light-coral: #D0B8A8;
$coral: #C5705D;
$black: #000000;

//*OTHERS
 $logo-font-size: 2rem;
 $a-links-font-size: 1.5rem;
 $outline: 
 -1px -1px 0 $black,  
 1px -1px 0 $black,
-1px  1px 0 $black,
 1px  1px 0 $black;
