//*VARIABLES


//*FONTS
$raleway: "Raleway", sans-serif;


//*PALETTE
$light: #F8EDE3;
$beige: #DFD3C3;
$light-coral: #D0B8A8;
$coral: #C5705D;
$black: #000000;

//*OTHERS
 $logo-font-size: 2rem;
 $a-links-font-size: 1.5rem;
 $outline: 
 -1px -1px 0 $black,  
 1px -1px 0 $black,
-1px  1px 0 $black,
 1px  1px 0 $black;

 //*Button 56
$button-bg-color: #fee6e3;
$button-border-color: #111;
$button-text-color: #111;
$button-hover-bg-color: #ffdeda;
$button-hover-transform: translate(0, 0);
$button-default-transform: translate(8px, 8px);
$button-padding: 25px;
$button-hover-padding: 40px;
$font-size: 16px;
$button-height: 48px;
